h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Reseña Histórica', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Planteamiento del problema', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Objetivos', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'Metodología', 'main.html#page/tema-3/')
                    +navTemaItem('4', 'Marco Teórico', 'main.html#page/tema-4/')
                    +navTemaItem('5', 'Aplicación', 'main.html#page/tema-5/')
                    +navTemaItem('6', 'Validación', 'main.html#page/tema-6/')
                    +navTemaItem('7', 'Análisis', 'main.html#page/tema-7/')
                    +navTemaItem('8', 'Conclusiones', 'main.html#page/tema-8/')


