.container#page-tema-1

    .header#tema-2.-recuadro.mt-5.mb-0
        h1 #[span.title.px-2.py-2 Reseña Historica]


    .jumbotron.bg-white 

      .row.mt-5 
        h2 #[strong Historia de los Recursos Educativos Digitales en el SENA]

      .row.my-5
        .col-12.col-lg-7
          ul 
            li
              p En el SENA, en noviembre de #[strong 2011], se crea el primer equipo de Línea de Producción, ubicado en el centro Agroindustrial de la Regional Quindío. Aproximadamente estaba conformado por 3 diseñadores, 4 programadores y 4 instructores virtuales que se lideraban las actividades de producción y desarrollaban contenidos, inicialmente para los cursos de Microsoft Office. 
            li
              P En #[strong 2012], se conformó la Línea de Producción Quindío, como equipo encargado de la adecuación didáctica y pedagógica de los cursos virtuales del SENA y adicionalmente encargado de la virtualización del programa de formación titulada Tecnólogo en Negociación Internacional. 
            li
              P En #[strong 2013], se crearon nuevas Líneas de Producción en diferentes regionales del SENA a nivel Nacional.

        .col-12.col-lg-5.text-center

          img(src="assets/images/pages/introduccion/imagen1.png", alt="").img-fluid

          P

      .row.my-5

        .col-12.col-lg-5.text-center

          img(src="assets/images/pages/introduccion/imagen2.png", alt="").img-fluid

        .col-12.col-lg-7
          ul
            li
              P En #[strong 2014], con las continuas actualizaciones del LMS utilizado, los requerimientos de los navegadores para la visualización de los contenidos y el uso masivo de dispositivos móviles, fue necesario cambiar la producción de recursos de Adobe Flash a herramientas de desarrollo bajo el estándar HTML.
            li
              P Durante #[strong 2015, 2016, 2017], se continuó la virtualización de contenidos, actualizando programas y desarrollando recursos en HTML5. 
            li
              P En #[strong 2018], continuaban como equipos de producción, las Líneas de Producción de Santander y Quindío, en quienes recae la responsabilidad de la adecuación virtual de toda la oferta de cursos del SENA.



