.container#page-tema-4

    .header#tema-4.-recuadro.mt-5.mb-0
        h1 #[span.number.px-2.py-2 4.0] #[span.title.px-2.py-2 Marco Teórico]

    .jumbotron.bg-white 
        .row
            .col-12.col-lg-12
                p A continuación, se describen los trabajos relacionados desde distintas perspectivas:

            .header#tema-4_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 4.1] #[span.title.px-2.py-2 La evolución del e-learning: del aula virtual a la red]

        .row.my-5
            .col-12.col-lg-12
                P Los autores [18] presentan el panorama sobre la evolución y los retos del e-learning haciendo especial énfasis en la necesidad de pasar de un espacio cerrado –el aula virtual– a incorporar herramientas adaptativas que garanticen un uso mucho más personalizado y a su vez identificar mecanismos que ayuden a los aprendices en temas de autorregulación. Debido a que estos destacan la importancia de los procesos de autorregulación en el éxito de los resultados. 

                P En [10] se demuestra como con el uso de las herramientas de comunicación asíncronas y síncronas, es más exitoso el ingreso de la población a programas de formación virtual, lo que ha generado en países como España, un aumento considerable en la demanda de programas de formación virtual para carreras profesionales.

        
            .header#tema-4_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 4.2] #[span.title.px-2.py-2 El Aseguramiento de la calidad del software en Entornos Virtuales de Aprendizaje]
        
        .row.my-5
            .col-12.col-lg-12

                P Trabajos como [12] exploran escenarios donde verifican por medio del aseguramiento de la calidad del software y el uso de algunas herramientas de razonamiento, si es posible realizar una entrega flexible de los recursos educativos digitales al aprendiz. Según sus estudios esto se logra por medio del uso de nuevas técnicas para modelar el conocimiento explícito y tácito sobre el alumno, incluidos los objetivos del aprendiz, los antecedentes y lo más importante, el progreso real en el proceso de aprendizaje.

                P En el proyecto relacionado en [21] se define como uno de sus grandes objetivos, investigar y desarrollar soluciones en temas relacionados con el aseguramiento de la calidad en cada una de las etapas del desarrollo de sistemas de software para actividades relacionadas con la educación, de tal manera que sea posible establecer normas de calidad para evaluar el correcto funcionamiento de estos sistemas educativos.

                P #[strong El aseguramiento de la Calidad del Software] en los recursos educativos digitales es uno de los componentes fundamentales de la investigación, como se evidencia en los trabajos antes mencionados y el SQA debe ser uno de los focos principales para el Servicio Nacional de Aprendizaje (SENA) al momento de la creación de los recursos educativos digitales allí desarrollados, ya que para el usuario final en este caso el aprendiz, se deben entregar recursos que cumplan al detalle con cada uno de los objetos de aprendizaje enmarcados en el diseño curricular, pero sobre todo, que cuenten con el máximo nivel de calidad al momento de su elaboración. Este análisis se puede evidenciar en la siguiente tabla comparativa:
            
            .col-12.col-lg-12.text-center
                img(src="assets/images/pages/tema-4/img1.png", alt="").img-fluid

        .row           
            .header#tema-4_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 4.3] #[span.title.px-2.py-2 Modelos para la mejora continua de procesos]

        .row.my-5
            .col-12.col-lg-12

                P En [30] los autores plantean un trabajo enfocado en elevar la calidad en todos los procesos relacionados con la formación profesional, con el objetivo de formar profesionales altamente capacitados y competentes. Los autores esperan con esta investigación obtener un modelo que les permita mejorar la gestión de los procesos del sistema de gestión educativa. Tomando ejemplos como el anterior, se plantea que los recursos educativos digitales elaborados en el SENA, sean sometidos a un modelo para la mejora continua de sus procesos, de tal manera que sea posible estructurar de una forma correcta el proceso de creación y ejecución de sus cursos virtuales y de esta manera elevar los estándares de calidad en los mismos.