.container#page-tema-2

    .header#tema-2.-recuadro.mt-5.mb-0
        h1 #[span.number.px-2.py-2 2.0] #[span.title.px-2.py-2 Objetivos]


    .jumbotron.bg-white 
        .row

            .header#tema-2_1.-recuadro.mt-0.mb-0
                .row
                    .col-12.col-lg-8
                        h2 #[span.number.px-2.py-2 2.1] #[span.title.px-2.py-2 Objetivo General]
                            P
                            P Formular y validar una estrategia SQA para el proceso de desarrollo que realizan los Equipos de Adecuación Didáctica y Gráfica de Recursos Educativos del SENA, con el fin de mejorar la deuda técnica actual de los recursos educativos digitales, a partir de la aplicación de un proceso de mantenibilidad basado en un modelo de mejora continua de procesos IDEAL y la estrategia de evaluación de deuda técnica basada en la plataforma SonarQube.

                    .col-12.col-lg-4.text-center
                        img(src="assets/images/pages/tema-3/imagen1.png", alt="").img-fluid

            .header#tema-2_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 2.2] #[span.title.px-2.py-2 Objetivos Específicos]
                    ul
                        li
                            P Analizar la situación actual de los Equipos de Adecuación Didáctica y Gráfica de Recursos Educativos Digitales del SENA, con respecto a la deuda técnica de los recursos educativos digitales entregados para la construcción de los cursos virtuales ofertados por el SENA.
                        li
                            P Definir un plan de acción para la validación de una mejora continua de procesos, con el fin de garantizar el aseguramiento, la gestión y el control de la calidad del software de un recurso educativo digital creado por el Equipo de Adecuación Didáctica y Gráfica del Quindío.
                        li
                            P Aplicar las mejoras al proceso de desarrollo en las diversas áreas de los Equipos de Adecuación Didáctica y Gráfica de Recursos Educativos del SENA, utilizando un método de monitoreo para asegurar que se estén llevando a cabo de forma correcta.
                        li
                            P Definir un plan de validación de recursos educativos digitales, aplicando un procedimiento formal de evaluación empírica.
