.container#page-tema-3

    .header#tema-3.-recuadro.mt-5.mb-0
        h1 #[span.number.px-2.py-2 3.0] #[span.title.px-2.py-2 Metodología]

    .jumbotron.bg-white 

        .row
            .col-12.col-lg-12
                p El siguiente trabajo presenta un enfoque de investigación aplicada y con la elaboración del mismo se busca que el Equipo de Adecuación Didáctica y Gráfica del Quindío disminuya la deuda técnica de sus recursos educativos digitales, ayudados de un proceso de mantenibilidad basado en un modelo de gestión de procesos que permita mejorar la estructura de elaboración de los recursos educativos digitales y a su vez enfocarse en el aseguramiento de la calidad del software (SQA), orientando la gestión de la calidad, de tal manera que sea posible disminuir la deuda técnica de los recursos. además, es necesario que dicho modelo sea adecuado para las personas involucradas al momento de realizar sus funciones como lo ilustra la siguiente imagen:

            .col-12.col-lg-12.text-center
                img(src="assets/images/pages/tema-3/img1.png", alt="").img-fluid

        .row.mt-5
            .header#tema-3_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.1] #[span.title.px-2.py-2 Estudio de Métricas]

        .row
            .col-12.col-lg-8
                p Con el fin de facilitar la información objetiva con respecto a la calidad de los recursos educativos digitales desarrollados por la entidad (SENA), se lleva a cabo un estudio entre el líder de desarrollo del equipo, el investigador y las bases entregadas por el director de la tesis de maestría, donde se proceden a identificar y aplicar las métricas más relevantes a utilizar en el área de desarrollo del software del equipo de adecuación didáctica y grafica.
            
            .col-12.col-lg-4.text-center
                img(src="assets/images/pages/tema-3/imagen2.png", alt="").img-fluid

        .row.mt-5
            p Para realizar un acercamiento de algunas de las métricas que provee la herramienta, se pueden mencionar algunos ejemplos mas relevantes analizados para este caso de investigación: 

            .col-12.col-lg-12.text-center
                img(src="assets/images/pages/tema-3/img2.png", alt="").img-fluid

        .row.mt-5

            p La validación del proyecto será realizada mediante la ejecución de las fases del modelo IDEAL de la manera descrita en la Figura 1, en un programa de formación complementaria creado en el Equipo de Adecuación Didáctica del Quindío, sobre el cual se va a llevar a cabo la mejora continua de procesos; esto con el fin de garantizar el aseguramiento y la calidad del software del curso creado.


        .row
            .col-12.col-lg-12

                P Dicha validación se realiza de la siguiente manera: 

                ul 
                    li              
                        P Especificación de cursos a intervenir
                    li   
                        P Socialización con el líder de la línea
                    li   
                        P Reunión por roles
                    li   
                        P Documento de resultados

                p Dicho proyecto es formulado bajo la siguiente hipótesis de investigación:

                P H0: #[i en un escenario de necesidad del servicio, un equipo de adecuación didáctica de recursos educativos digitales de SENA, no cuenta con la capacidad de realizar un programa de formación complementaria que cumpla con las métricas establecidas de calidad, generadas a partir de herramientas para medir la calidad del código, y la mantenibilidad de los procesos, suministradas por el investigador.]

        .row.mt-5
            .header#tema-3_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.2] #[span.title.px-2.py-2 Características de la Población]

        .row
            .col-12.col-lg-8
                p El aumento progresivo del uso de tecnología en la población colombiana y el constante interés por adquirir conocimiento de manera ágil y eficaz representa un gran desafío para las entidades encargadas de proporcionar conocimiento en el territorio nacional, ya que una de sus premisas es estar siempre a la vanguardia. Esto origina en el caso del Servicio Nacional de Aprendizaje (SENA), que sea necesario mejorar la calidad de los recursos educativos digitales que se entregan, ya que estas poblaciones cada vez son más exigentes con sus contenidos y esperan contar con una mejor experiencia de usuario en los mismos.
            
            .col-12.col-lg-4.text-center
                img(src="assets/images/pages/tema-3/img3.png", alt="").img-fluid      