.container#page-tema-1

    .header#tema-1.-recuadro.mt-5.mb-0
        h1 #[span.number.px-2.py-2 1.0] #[span.title.px-2.py-2 Planteamiento del problema]

    .jumbotron.bg-white 
        .row
            .col-12.col-lg-8

                p Actualmente, el Equipo de Adecuación Didáctica y Grafica del Quindío, muestra problemas al momento de crear sus recursos educativos digitales generando código pobre e incumpliendo los estándares mínimos de desarrollo especificados para la creación de los recursos en relación con el aseguramiento de la calidad del software, mejora continua de sus procesos y el control de la calidad de los mismos.  

            .col-12.col-lg-4.text-center

                img(src="assets/images/pages/tema-1/img1.png", alt="").img-fluid

        .row 
            .col-12.col-lg12 
                P A continuación, se nombran algunos problemas identificados debido a los reprocesos generados por la ausencia de un proceso controlado de construcción de recursos educativos digitales:

                ul
                    li        
                        P Implementación inconsistente de los productos multimedia.
                    li                         
                        P Comunicación difusa entre programadores.
                    li                        
                        P Estimación de tareas desfasadas.
                    li 
                        P Incumplimiento de estándares de codificación.
                    li 
                        P Manejo de control de versiones de forma independiente lo que presenta las siguientes consecuencias:

                        ul 
                            li 
                                P Pérdida de tiempo localizando documentos o recursos educativos base.
                            li 
                                P Documentos y recursos educativos digitales duplicados.
                            li
                                P Diseños duplicados de forma innecesaria.
                        
                        
                        

