//Colores base del material de formación
$brand-color-dark: #8AD185;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #E6EEF3;
$text-color-light: #DB9600;
$brand-color-secondary: #70A83B;

