mixin pageHeader(tituloTema, srcImagen, pagina)

    .curso-portada

        .row.align-items-center

            .col-12.col-lg-6

                if pagina == 'home'
                    a.curso-btn-iniciar.btn.btn-light(href="main.html")
                        span Iniciar curso


            .col-12.col-lg-6.text-center
                .d-none.d-lg-block
                    img(src= srcImagen).curso-imagen


mixin referenciaItem(referencia, enlace, tituloenlace="")
    p= referencia
        if tituloenlace != ""
            a(href= enlace, target="_blank").ml-2= tituloenlace
        else if enlace != ""
            a(href= enlace, target="_blank").ml-2= enlace
    hr



mixin navTemaItem(numero, titulo, ruta)
    li.list-group-item.nav-tema-item
        .row.align-items-center
            if numero == 'play'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-play
            else if numero == 'question'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-question
            else if numero == 'text'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-file-text-o
            else if numero == 'folder'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-folder-open
            else if numero == 'references'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-book
            else if numero == 'glosary'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-sort-alpha-asc
            else
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold= numero

            .col.ml-n2
                span.nav-tema-item__titulo 
                    a(href= ruta)= titulo
            .col-auto                                            
                a(href= ruta).btn.btn-light.nav-tema-item__btn
                    | Ver más
    
    
mixin creditosFooter(ruta)
    footer#Creditos.footer
        .container

            h1 Créditos               
            .brand-line-primary

            .row
                .col-12.col-md-5
                    h3.footer-subtitulo.mb-4 Sustentación Tesis - Manuel Felipe Echavarria Orozco

                    p.footer-texto.mb-2
                        | #[strong Manuel Felipe Echavarria Orozco]<br/>   
                        span.text-small Tesista
                    
                    p.footer-texto.mb-2
                        | #[strong Faber Danilo Giraldo Velasquez]<br/>   
                        span.text-small Director

            .row.justify-content-center.align-items-center.mt-5
                    img(src= ruta, style="max-width:100px")

    section#cc
        .container
            .d-flex.flex-column.flex-sm-row
                span.pr-3
                    i.icon.cc
            
                span
                    | Este material puede ser distribuido, copiado y exhibido por terceros si se muestra en los créditos. No se puede obtener ningún beneficio comercial y las obras derivadas tienen que estar bajo los mismos términos de la licencia que
                    | el trabajo original.